body {
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: lightyellow;
}

.center {
    width: 20%;
    animation: rotateImg 2s ease-in-out infinite;
  }
  @keyframes rotateImg{
    from {
     transform: rotate(0deg);
    }
   to {
    transform: rotate(359deg);
   }
}